<div data-bind="dropdown: 'player-feats'"></div>

<h1>Statistical Feats <span data-bind="newWindow: []"></span></h1>

<p>All games where a player got a statistical feat are listed here. Statistical feats from your players are <span class="text-info">highlighted in blue</span>.</p>

<p class="clearfix visible-xs"></p>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed" id="player-feats">
    <thead>   
<!--      <tr><th>Name</th><th title="Position">Pos</th><th>Team</th><th title="Starter">Starter</th><th title="At Bats">AtBats</th><th title="Hits">H</th><th title="Doubles">2B</th><th title="Triples">3B</th><th title="Home Runs">HR</th><th title="Runs">R</th><th title="Runs Batted In">RBI</th><th title="Stolen Bases">SB</th><th title="Base On Balls">BB</th><th title="Strike Out">K</th><th title="Batting Average">AVG</th><th title="Wins">W</th><th title="Losses">L</th><th title="Saves">S</th><th title="Innings Pitched">IP</th><th title="Strike Outs">K</th><th title="Bases On Balls">BB</th><th title="Home Runs">HR</th><th title="Earned Run Average">ERA</th><th title="Fielding Independent Pitching">FIP</th><th>Opp</th><th>Result</th><th>Season</th></tr>-->
      <tr><th>Name</th><th title="Position">Pos</th><th>Team</th><th title="Starter">Starter</th><th title="At Bats">AtBats</th><th title="Hits">H</th><th title="Doubles">2B</th><th title="Triples">3B</th><th title="Home Runs">HR</th><th title="Runs">R</th><th title="Runs Batted In">RBI</th><th title="Stolen Bases">SB</th><th title="Base On Balls">BB</th><th title="Strike Out">K</th><th title="Wins">W</th><th title="Losses">L</th><th title="Saves">S</th><th title="Innings Pitched">IP</th><th title="Hits">H</th><th title="Strike Outs">K</th><th title="Bases On Balls">BB</th><th title="Home Runs">HR</th><th title="Earned Runs">Runs</th><th>Opp</th><th>Result</th><th>Season</th></tr>
    </thead>
  </table>
</div>