<div data-bind="dropdown: 'player-ratings'"></div>

<h1>Player Ratings <span data-bind="newWindow: []"></span></h1>
<p>More: <a data-bind="attrLeagueUrl: {href: ['player_rating_dists', season]}">Rating Distributions</a></p>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed" id="player-ratings">
    <thead>
      <tr><th>Name</th><th title="Position">Pos</th><th>Team</th><th>Age</th><th title="Overall">Ovr</th><th title="Potential">Pot</th><th title="Baseball IQ">GIQ</th><th title="Clutch">Cl</th><th title="Endurance">End</th><th title="Work Effort">WE</th><th title="Team Player">TP</th><th title="Hitting">H</th><th title="Power">Pw</th><th title="Fielding Arm">fArm</th><th title="Running Speed">rSp</th><th title="Fielding">F</th><th title="Throwing Speed">pSp</th><th title="Accuracy">C</th><th title="Change">Ch</th><th title="Curve">Cu</th><th title="Slider">Sl</th></tr>
    </thead>
  </table>
</div>