<h1>Custom Roster Mode</h1>

<p>Custom Roster Mode makes player ratings matter more in the game simulation. It was created for custom rosters where players are all rated very highly, so differences can be swamped by randomness.</p>

<p>This was done by making experience and gold matter less during the game simulation. So a ratings/skill advantage at the beginning of the game simulation holds longer throughout the game. </p>

<p>In addition, Custom Roster Mode also normalizes contracts. For the same rating a player will demand less money while Custom Rode Mode is enabled. </p>


<button class="btn btn-danger" id="enable-custom-roster-mode" data-bind="visible: !customRosterMode()">Enable Custom Roster Mode</button>

<button class="btn btn-success" id="disable-custom-roster-mode" data-bind="visible: customRosterMode">Disable Custom Roster Mode</button>