<div data-bind="dropdown: 'draft-summary'"></div>

<h1><span data-bind="text: season"></span> Future Prospects <span data-bind="newWindow: []"></span></h1>
<p>More: <a data-bind="attrLeagueUrl: {href: ['draft_scouting']}">Future Prospect Scouting</a></p>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed" id="draft-results">
    <thead>
      <tr><th colspan="2"></th><th colspan="4" style="text-align: center">Start</th><th colspan="5" style="text-align: center">Current</th><th colspan="7" style="text-align: center">Career Stats</th></tr>
      <tr><th>Name</th><th title="Position">Pos</th><th>Age</th><th title="Overall rating">Ovr</th><th title="Potential rating">Pot</th><th>Skills</th><th>Team</th><th>Age</th><th title="Overall rating">Ovr</th><th title="Potential rating">Pot</th><th>Skills</th><th title="Games Played">GP</th><th title="Minutes Per Game">Min</th><th title="Kills Per Game">Kills</th><th title="Death Per Game">Deaths</th><th title="Assists Killing Champions Per Game">Assists</th><th title="(Kills + Assists) / Deaths">KDA</th><th title="Creep Score">CS</th></tr>
    </thead>
  </table>
</div>