<h1>Contract Negotiation <span data-bind="newWindow: []"></span></h1>


<div class="row">
  <div class="col-sm-6">
    <h2><a data-bind="attrLeagueUrl: {href: ['player', player.pid]}, text: player.name"></a> <span data-bind="newWindow: ['player', player.pid]"></span></h2>
    <p>
      Mood: <span data-bind="html: player.mood"></span><br>
      Overall: <span data-bind="text: player.ratings.ovr"></span>; Potential: <span data-bind="text: player.ratings.pot"></span><br>
      Role: <span data-bind="text: player.pos"></span>
    </p>
    <h3>Player Proposal</h3>
    <p><span data-bind="text: negotiation.player.years"></span> years (through <span data-bind="text: negotiation.player.expiration"></span>)</p>
    <p>$<span data-bind="round: [negotiation.player.amount, 2]"></span>K per year</p>
    <form data-bind="attrLeagueUrl: {action: ['negotiation', player.pid]}" class="form-horizontal" method="POST">
      <input type="hidden" name="accept" value="1">
      <button type="submit" class="btn btn-success" id="accept">Accept Player Proposal</button>
    </form>

    <p></p>

    <form data-bind="attrLeagueUrl: {action: ['negotiation', player.pid]}" class="form-horizontal" method="POST">
      <input type="hidden" name="cancel" value="1">
      <button type="submit" class="btn btn-danger">Can't reach a deal? End negotiation</button>
    </form>
  </div>

  <div class="col-sm-6">
    <h2 data-bind="text: team.region() + ' ' + team.name()"></h2>
    <p>
      Current Payroll: <span data-bind="currency: [payroll, 'K']"></span><br>
      <!--Salary Cap: <span data-bind="currency: [salaryCap, 'K']"></span>-->
    </p>
    <h3>Your Proposal</h3>
    <form data-bind="attrLeagueUrl: {action: ['negotiation', player.pid]}" method="POST">
      <div class="form-group input-group negotiation-team-years">
<!--        <input type="text" class="form-control" name="teamYears" data-bind="attr: {value: negotiation.team.years}">-->
        <input type="text" class="form-control" name="teamYears" data-bind="attr: {value: negotiation.team.years}">
        <span class="input-group-addon">years</span>
      </div>
      <div class="form-group input-group negotiation-team-amount">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control" name="teamAmount" data-bind="attr: {value: negotiation.team.amount}">
<!--        <input type="text" class="form-control" name="teamAmount" data-bind="attr: {round: [negotiation.player.amount, 0]}">-->
        <span class="input-group-addon">K per year</span>
      </div>
      <button type="submit" class="btn btn-primary">Submit Proposal</button>  
    </form>
  </div>
</div>
