<div data-bind="dropdown: 'player-ratings'"></div>

<h1>Player Ratings <span data-bind="newWindow: []"></span></h1>
<p>More: <a data-bind="attrLeagueUrl: {href: ['player_rating_dists', season]}">Rating Distributions</a></p>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed" id="player-ratings">
    <thead>
      <tr><th>Name</th><th title="Position">Pos</th><th>Team</th><th>Age</th><th title="Overall">Ovr</th><th title="Potential">Pot</th><th title="Height">Hgt</th><th title="Strength">Str</th><th title="Speed">Spd</th><th title="Agility">Agl</th><th title="Quickness">Quik</th><th title="Endurance">End</th><th title="Hockey Sense (O)">HSO</th><th title="Hockey Sense (D)">HSD</th><th title="Leadership">Ldr</th><th title="Flexibility">Flx</th><th title="Competitiveness">Cmpt</th><th title="Toughness">Tgh</th><th title="Passing">Pss</th><th title="Wrist Shot">Wrst</th><th title="Slap Shot">Slap</th><th title="Stickhandling">Stck</th><th title="Rebounding">Reb</th><th title="Faceoffs">Face</th></tr>
	  
	  
    </thead>
  </table>
</div>