<div data-bind="dropdown: 'player-stats'"></div>

<h1>Player Stats <span data-bind="newWindow: []"></span></h1>

<p>Players currently on your team are <span class="text-info">highlighted in blue</span>. Players in the Hall of Fame are <span class="text-danger">highlighted in red</span>. Only players averaging more than 5 minutes per game are shown.</p>

<p class="clearfix visible-xs"></p>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed" id="player-stats">
    <thead>
      <tr><th colspan="6"><th colspan="4" style="text-align: center" title="Points">Pts</th><th colspan="3" style="text-align: center" title="Shots">Sh</th><th colspan="2" style="text-align: center" title="Turnovers">TO</th><th colspan="3" style="text-align: center" title="Time">Tm</th><th colspan="3" style="text-align: center" title="Faceoffs">FO</th><th colspan="6" style="text-align: center" title="Defense">D</th></tr>
      <tr><th>Name</th><th title="Position">Pos</th><th>Team</th><th title="Games Played">GP</th><th title="Games Started">GS</th><th title="Minutes">Min</th><th title="Points">P</th><th title="Goals">G</th><th title="Assists">A</th><th title="Change in score while in game">+/-</th><th title="Shots On Goal">SOG</th><th title="Missed Shots">MS</th><th title="Blocked Shots">BS</th><th title="Takeaway">Tk</th><th title="Giveaway">Gv</th><th title="Penalty Minutes">PIM</th><th title="Power Play">PP</th><th title="Shorthanded">SH</th><th title="Won">W</th><th title="Lost">L</th><th title="Percentage Won">%</th><th title="Shots Against">SA</th><th title="Goals Against">GA</th><th title="Saves">Sa</th><th title="Save Percentage">S%</th><th title="Blocks">Blk</th><th title="Hits">Hts</th></tr>
    </thead>
  </table>
</div>