<div data-bind="dropdown: 'player-feats'"></div>

<h1>Statistical Feats <span data-bind="newWindow: []"></span></h1>

<p>All games where a player got a statistical feat are listed here. Statistical feats from your players are <span class="text-info">highlighted in blue</span>.</p>

<p class="clearfix visible-xs"></p>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed" id="player-feats">
    <thead>
<!--      <tr><th colspan="5"></th><th colspan="3" style="text-align: center" title="Field Goals">FG</th><th colspan="3" style="text-align: center" title="Three-Pointers">3PT</th><th colspan="3" style="text-align: center" title="Free Throws">FT</th><th colspan="3" style="text-align: center" title="Rebounds">Reb</th><th colspan="11"></th></tr>
      <tr><th>Name</th><th title="Position">Pos</th><th>Team</th><th title="Games Started">GS</th><th title="Minutes">Min</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th><th title="Offensive">Off</th><th title="Defensive">Def</th><th title="Total">Tot</th><th title="Assists">Ast</th><th title="Turnovers">TO</th><th title="Steals">Stl</th><th title="Blocks">Blk</th><th title="Personal Fouls">PF</th><th title="Points">Pts</th><th title="Game Score">GmSc</th><th>Opp</th><th>Result</th><th>Season</th></tr>-->
	  
      <tr><th colspan="5"><th colspan="4" style="text-align: center" title="Points">Pts</th><th colspan="3" style="text-align: center" title="Shots">Sh</th><th colspan="2" style="text-align: center" title="Turnovers">TO</th><th colspan="3" style="text-align: center" title="Time">Tm</th><th colspan="2" style="text-align: center" title="Faceoffs">FO</th><th colspan="5" style="text-align: center" title="Defense">D</th></tr>
      <tr><th>Name</th><th title="Position">Pos</th><th>Team</th><th title="Games Started">GS</th><th title="Minutes">Min</th><th title="Points">P</th><th title="Goals">G</th><th title="Assists">A</th><th title="Change in score while in game">+/-</th><th title="Shots On Goal">SOG</th><th title="Missed Shots">MS</th><th title="Blocked Shots">BS</th><th title="Takeaway">Tk</th><th title="Giveaway">Gv</th><th title="Penalty Minutes">PIM</th><th title="Power Play">PP</th><th title="Shorthanded">SH</th><th title="Won">W</th><th title="Lost">L</th><th title="Shots Against">SA</th><th title="Goals Against">GA</th><th title="Saves">Sa</th><th title="Blocks">Blk</th><th title="Hits">Hts</th></tr>
	  
    </thead>
  </table>
</div>