<p>College Basketball Coach is a completely free sports management simulation game. You are the coach of a college basketball team, tasked with building your roster to compete for a championship in order to help your school attract more students and raise money. As of now, your goal can be whatever you want: taking the worst team in the league to a championship, creating a UCLA style dynasty, developing players from freshman backups to senior All-Americans, etc. You can make an unlimited number of different associations from <a href="/">the dashboard</a>, each one with a different set of random players. You can also import different team lists for different team starting strength and location (which impacts recruiting distance and cost)</p>

<h2>User Interface</h2>

<p>From within an association, the most important user interface element is the Play Menu, which you can access with the big blue Play button at the top of the screen. Any context-dependent action, like playing a game or moving from one phase to another, is done from the Play Menu. Everything else about the user interface should (hopefully) be self-explanatory.</p>

<h2>Gameplay Overview</h2>

<p>Each season of the game is divided into several phases:</p>

<ul>
  <li><b>Preaseason.</b> Players develop/age (<i>i.e.</i> their ratings change).</li>
  <li><b>Regular season.</b> Regular season games are played, at the pace you choose through the Play menu.</li>
  <li><b>Conference Tournaments (CT).</b> Every team from each conference (16) plays in a tournament. Seeding is based on conference wins. The CT winners are automatically in the national tournament.</li>
  <li><b>National Tournaments (NT).</b> The CT winners and enough remaining teams to fill out a 32/64 team tournament play in the NT. It is a single elimination tournament with 5/6 rounds.</li>
  <li><b>Recruiting.</b> Players leave school (seniors and draft prospects). You try to replace players by recruiting new HS and Division II prospects. To recruit you may have to make home visits, invite the player for campus visits, etc. The total cost is given to you to make a decision. The further away a prospect, and the earlier in the recruiting season, the more a player will cost to recruit.</li>
</ul>

<h2>Association Rules</h2>

<p>Association rules are generally modelled on the NCAA, but simplified.</p>

<h3>Budget</h3>

<p>The budget is set by each school. You get a max of $15k per player ($3,750 per year with team) who has left (releasing gives you nothing) and $1k per NT game played by your conference.</p>
  
<h3>Recruiting</h3>

<p>Your budget allows you to recruit players. Recruiting typically entails home visits, campus visits, etc. So the cost to recruit is impacted by distance and how early in the recruiting season it is. Players further away and earlier in the recruiting cost the most. The higher your prestige the less effort needed to recruit and the lower the cost. At the end of the recruiting period some players can be had for no cost regardless of distance(essentially a phone call).</p>

<p>Player will leave after their Senior year or earlier if they are draft prospects.</p>

<h3>Roster</h3>

<p>You must have 13 players on your roster. If you have too few you should be able to add players for $0 at the end of the recruiting period. If you have too many you must release someone.</p>

<h2>Player Ratings</h2>

<p>Player ratings for a variety of categories (shooting, rebounding, passing, dribbling, etc.) are on a scale from 0-100. The whole scale is used, so a typical value for a rating is 50. Roughly, the overall ("ovr") player ratings mean:</p>

<ul>
  <li><b>90s:</b> Elite Players on Elite Teams</li>
  <li><b>80s:</b> Elite Players</li>
  <li><b>70s:</b> Players on Elite Teams</li>
  <li><b>60s:</b> Role Players on Elite Teams</li>
  <li><b>50s:</b> Freshman/Sophomore players on Elite Teams</li>
  <li><b>40s and lower:</b> Major Projects on Elite Teams</li>
</ul>

<p>However, the overall ratings aren't a guarantee of performance. The particular mix of ratings plays into success (<i>e.g.</i> a short player having a 100 shot blocking rating doesn't do much), as do a player's teammates (<i>e.g.</i> a good rebounder doesn't help your team as much if you already have a few other good rebounders).</p>

<p>The potential ("pot") rating is also important. This is an estimate of the ceiling of the player's future overall rating. Just like in real life, most players never reach their ceiling, but some do reach it and some even exceed it. As a player with high potential grows older, it becomes less and less likely that he will ever reach his potential.</p>

<p>Also, you might notice that the height ("hgt") rating is not always proportional to the height in feet/inches of a player. So you might see a 6'8" player with 100 hgt and a 7 footer with 80 hgt. The hgt rating is what's used in the simulations. The heights in feet/inches are just for show. So hgt is really meant to also include things like wingspan and standing reach - basically how much a player's height/length impacts the game.</p>

<p>The displayed ratings are not the real ratings. They are estimates from your coaches.</p>

<p>Finally, little symbols you see next to a player's name like <span class="skills-alone"><span title="Three Point Shooter" class="skill">3</span><span title="Athlete" class="skill">A</span><span class="skill" title="Ball Handler">B</span><span title="Interior Defender" class="skill">Di</span><span class="skill" title="Perimeter Defender">Dp</span><span class="skill" title="Post Scorer">Po</span><span class="skill" title="Passer">Ps</span><span title="Rebounder" class="skill">R</span></span> represent the key skills a player has. This is designed so that you can just glance at a player and easily take in that information. To see what a symbol means, hover your mouse over it or consult this list:</p>

<ul>
  <li>3: Three Point Shooter</li>
  <li>A: Athlete</li>
  <li>B: Ball Handler</li>
  <li>Di: Interior Defender</li>
  <li>Dp: Perimeter Defender</li>
  <li>Po: Post Scorer</li>
  <li>Ps: Passer</li>
  <li>R: Rebounder</li>
</ul>

<h2>How does it work?</h2>

<p>There are no accounts, no passwords, no nothing. All the game data is stored locally on your computer using <a href="https://www.google.com/search?q=indexeddb">IndexedDB</a>. This has advantages and disadvantages. The main advantage is that it is really cheap to run this game, since simulations can occur in your web browser rather than a central server; this is what allows the game to be free and unlimited. The two main disadvantages are (1) doing simulations in your web browser incurs some performance restrictions (but it's not that bad), and (2) since the games are stored on your computer and not on a server, you can't access the same leagues on different computers (eventually this will be possible though).</p>

<h2>Performance</h2>

<p>Game simulation can be taxing on your computer, particularly as additional seasons are simulated and the database grows. There are a couple of tricks you can use to speed this up:</p>

<ol>
  <li>Don't open multiple windows/tabs viewing while you are simulating games. If you do, then all of the windows will try to update their content every day, which takes valuable computing resources away from actually simulating the games.</li>
  <li>Don't have a complicated page (such as the association dashboard) open when you simulate games. As the simulation progresses, the content of whatever you're viewing updates each day. If you're viewing something complex, this can be a little slow. For the fastest performance, view something old like the standings from a previous season which does not have to update ever.</li>
  <li>Within an association, go to Tools > Improve Performance.</li>
</ol>

<h2>Customized Rosters</h2>

<p>By default, all players are completely randomly generated. <a href="http://basketball-gm.com/manual/customization/">Click here for more info about custom rosters.</a></p>

<h2>Still not sure about something?</h2>

<p>If you have a question or think you found a bug or you want to request a feature, either <a href="mailto:baseball@zengm.com">send an email</a> (baseball@zengm.com) or <a href="http://www.reddit.com/r/ZenGMBasketballCoach/">make a post on Reddit</a>.</p>