<div data-bind="dropdown: 'player-stats'"></div>

<h1>Batting/Fielding Stats <span data-bind="newWindow: []"></span></h1>
<p>More: <a data-bind="attrLeagueUrl: {href: ['player_shot_locations', season]}">Pitching Stats</a> | <a data-bind="attrLeagueUrl: {href: ['player_stat_dists', season]}">Stat Distributions</a></p>

<p>Players currently on your team are <span class="text-info">highlighted in blue</span>. Players in the Hall of Fame are <span class="text-danger">highlighted in red</span>. Only players who have at one point averaged more than 3.1 at bats per game are shown (with a minimum of 10 at bats).</p>

<p class="clearfix visible-xs"></p>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed" id="player-stats">
    <thead>
 <!--     <tr><th colspan="6"></th><th colspan="3" style="text-align: center" title="Field Goals">FG</th><th colspan="3" style="text-align: center" title="Three-Pointers">3PT</th><th colspan="3" style="text-align: center" title="Free Throws">FT</th><th colspan="3" style="text-align: center" title="Rebounds">Reb</th><th colspan="8"></th></tr>  -->
<!--      <tr><th>Name</th><th title="Position">Pos</th><th>Team</th><th title="Games Played">GP</th><th title="Games Started">GS</th><th title="Minutes">Min</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th><th title="Made">M</th><th title="Attempted">A</th><th title="Percentage">%</th><th title="Offensive">Off</th><th title="Defensive">Def</th><th title="Total">Tot</th><th title="Assists">Ast</th><th title="Turnovers">TO</th><th title="Steals">Stl</th><th title="Blocks">Blk</th><th title="Personal Fouls">PF</th><th title="Points">Pts</th><th title="Player Efficiency Rating">PER</th><th title="Estimated Wins Added">EWA</th></tr> -->
     <tr><th>Name</th><th title="Position">Pos</th><th>Team</th><th title="At Bats">AtBats</th><th title="Hits">H</th><th title="Doubles">2B</th><th title="Triples">3B</th><th title="Home Runs">HR</th><th title="Runs">R</th><th title="Runs Batted In">RBI</th><th title="Stolen Bases">SB</th><th title="Base On Balls">BB</th><th title="Strike Out">K</th><th title="Isolated Power">ISO</th><th title="Batting Average Balls In Play">BABIP</th><th title="Batting Average">AVG</th><th title="On Base Percentage">OBP</th><th title="Slugging Percentage">SLG</th><th title="OBP Plus SLG">OPS</th><th title="Weighted On-Base Average">wOBA</th><th title="Errors">E</th><th title="Wins Above Replacement">WAR</th></tr>
	  </thead>
  </table>
</div>