<h1>Regular Season and Conference Tournament (CT) Histories  <span data-bind="newWindow: []"></span></h1>


<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed" id="history-all">
    <thead>
      <tr>
        <th></th>
     <!--   <th>Conference Champion</th>
        <th>Runner Up</th>
        <th title="Finals Most Valuable Player">Finals MVP</th> -->
        <th title="Your Conference Champ">Conference Champ</th>
        <th title="Your Conference Runner Up">Conference Runner-Up</th> 		
        <th title="Association Most Valuable Player">Association POY</th>
        <th title="Association Defensive Player of the Year">Association DPOY</th>
        <th title="Association Rookie of the Year">Association FOY</th>
		
<!--        <th title="Most Valuable Player">NPOY</th>
        <th title="Defensive Player of the Year">DPOY</th>
        <th title="Rookie of the Year">FOY</th> -->
      </tr>
    </thead>
  </table>
</div>