<h1>Power Rankings <span data-bind="newWindow: []"></span></h1>

<p>The "AP Top 25" rating is the national ranking based on polling. The AP ranking is broken up into a "Performance" ranking based on point differential and recent team performance, and a "Talent" ranking based on player ratings and stats. The "RPI" rating is based on team winning percentage, opponent winning percentage, and opponent opponent winning percentage. The "SOS" ratings is a measure of schedule strength based on opponent winning percentage and opponent opponent winning percentage. The "Power" rating is based on point differential, opposing team point differential, and opposing opposing team point differential.</p>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed" id="power-rankings">
    <thead>
      <tr>
        <th title="AP Top 25 Ranking">AP Top 25</th>
        <th title="AP Performance">Performance</th>
        <th title="AP Talent">Talent</th>
        <th title="Strength Of Schedule">SOS</th>
        <th title="Rating Percentage Index">RPI</th>
        <th title="Power Ranking">Power</th>
        <th width="100%">Team</th><th title="Team Conference">Conf</th><th title="Team State">St</th><th title="Games Won">W</th><th title="Games Lost">L</th><th title="Last Ten Games">L10</th><th title="Point Differential">Diff</th></tr>
    </thead>
  </table>
</div>