<div data-bind="dropdown: 'player-ratings'"></div>

<h1>Player Ratings <span data-bind="newWindow: []"></span></h1>
<p>More: <a data-bind="attrLeagueUrl: {href: ['player_rating_dists', season]}">Rating Distributions</a></p>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-condensed" id="player-ratings">
    <thead>
      <tr><th>Name</th><th title="Position">Pos</th><th>Team</th><th>Age</th><th title="Overall">Ovr</th><th title="Potential">Pot</th><th title="Speed">Spd</th><th title="Strength">Str</th><th title="Endurance">End</th><th title="Athleticism">A</th><th title="Height">Hgt</th><th title="Hands">Hnd</th><th title="GameIQ">GIQ</th><th title="Toughness">Tgh</th><th title="Awareness">Awr</th><th title="Aggressiveness">Agg</th><th title="Motor">Mtr</th><th title="Passing">Pss</th><th title="Receiving">Rec</th><th title="Blocking">Blk</th><th title="Defensive Rushing">DRu</th><th title="Tackling">Tkl</th><th title="Coverage">Cvr</th><th title="Kicking">Kck</th></tr>
    </thead>
  </table>
</div>