<div data-bind="dropdown: 'playoffs'"></div>

<h1>Playoffs <span data-bind="newWindow: []"></span></h1>

<p data-bind="visible: !finalMatchups()">This is what the playoff matchups would be if the season ended right now.</p>

<h3 class="hidden-xs">West Football Conference <span class="pull-right">East Football Conference</span></h3>

<div class="table-responsive">
  <table class="table-condensed" width="100%">
    <tbody>
	  <tr> 
	  <td> </td>
	  <td> Wild Card </td>	  
	  <td> Conference </td>	  
	  <td> Grey Cup </td>	  
	  <td> Conference </td>	  
	  <td> Wild Card  </td>	  
	  <td> </td>
	  </tr>	
	  <tr>
        <td width="14.28%" ></td> 
        <td rowspan="2" width="14.28%" data-bind="matchup: [1, 1]"></td>
        <td rowspan="4" width="14.28%" data-bind="matchuptopseed: [2, 1]"></td>
        <td rowspan="4" width="14.28%" data-bind="matchup: [3, 0]"></td>
        <td rowspan="4" width="14.28%" data-bind="matchuptopseed: [2, 0]"></td>
        <td rowspan="2" width="14.28%" data-bind="matchup: [1, 0]"></td>
        <td width="14.28%" "></td>  		
      </tr>
	  
      <tr>
        <td ></td> 
        <td ></td>
      </tr>

      <tr>
        <td></td>
        <td></td>
      </tr>

      <tr>
<!--        <td rowspan="2" width="14.28%" data-bind="matchup: [1, 1]"></td>
        <td rowspan="2" width="14.28%" data-bind="matchup: [1, 0]"></td> -->
        <td ></td>
        <td ></td>
      </tr>	  

    </tbody>
  </table>
</div>