// Font Family
$baseFont: 'Lato', sans-serif;
$dashboardFont1: 'Myriad Pro Regular';

// Font color
$baseFontColor: #A9A9A9;
$secondFontColor: #a2a7a2;
$dashboardBgColor1: rgba(60, 157, 163, 0.15);
$dashboardBgColor2: rgba(35, 64, 49, 1);
$dashboardBgColor3: #54b5bb;
$borderColor1: #234436;
$borderColor2: rgba(160, 160, 160, 0.2);
$borderColor3: rgba(57, 151, 151, 0.25);
$dashboardFontColor1: #3fa8a8;
$dashboardFontColor2: #cddec6;
$dashboardFontColor3: #a0a0a0;
$dashboardFontColor5: #182812;
$widgetBgColor: #CCCCCC;
$widgetColor: #000000;
$btnDefaultBgColor: #06170e;

$dangerColor1: #b77270;
$dangerColor2: #d43f3a;
$successColor1: #559655;
$successColor2: #4cae4c;
$infoColor1: #6aaccc;
$warningColor1: #fcf8e3;
